@model AccessDeniedViewModel


<div class="page-header logged-out">
    <h1>
        Access Denited
        <small>You do not have permissions to view this page, Please contact minlog support to gain access</small>
    </h1>
</div>